ethnik/Base.lproj/Main.storyboard
ethnik.xcworkspace/xcuserdata/jameskeithv.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
Ethnik/.DS_Store
ethnik.xcworkspace/xcuserdata/simonibssa.xcuserdatad/UserInterfaceState.xcuserstate
